:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ECE9FD;
  padding: 6.0rem 2.3rem 6.6rem;
  font-family: 'Epilogue', sans-serif;
  font-size: 1.6rem;
}

.principal {
  max-width: 33.0rem;
  margin: 0 auto;
}

.paragrafo__principal:first-child {
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #7158EF;
  margin-bottom: 1.7rem;
}

.titulo__principal {
  font-weight: 800;
  font-size: 4.0rem;
  line-height: 4.8rem;
  color: #090039;
  margin-bottom: 1.5rem;
}

.titulo__principal + .paragrafo__principal {
  font-weight: 400;
  line-height: 3.2rem;
  color: rgba(10, 0, 57, 0.64);
  margin-bottom: 3.2rem;
}

.link {
  font-weight: 400;
  line-height: 3.2rem;
  color: #090039;
  text-decoration: none;
}

.link:hover {
  font-weight: 700;
}

.listas {
  margin-top: 7.2rem;
  list-style: none;
}

.item__lista {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #090039;

  max-width: 25.7rem;
  display: flex;
  align-items: center;
  gap: 3.8rem;
}

.item__lista span {
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 8.0rem;
  letter-spacing: -2px;
  color: #090039;
  min-width: 47px;
}

.item__lista + .item__lista {
  margin-top: 3.2rem;
}


/* RESPONSIVIDADE */
@media (min-width: 700px) {
  body {
    padding: 8.0rem;
  }
  
  .principal {
    max-width: 1020px;
    display: flex;
    gap: 11.6rem;
  }
  
  .principal > div {
    max-width: 484px;
  }
  
  .titulo__principal {
    margin-bottom: 3.1rem;
  }
  
  .titulo__principal + .paragrafo__principal {
    margin-bottom: 2.8rem;
  }
  
  .item__lista {
    max-width: 450px;
    gap: 5.3rem;
    align-items: center;
  }
}